@font-face {
    font-family: 'Benton Sans';
    src: url(./fonts/BentonSans-Book.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Benton Sans Medium';
    src: url(./fonts/BentonSans-Medium.woff);
    font-style: normal;
    font-weight: bold;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Benton Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
}

.container {
    padding: 0px 18px 0px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 12px;
    display: flex;
}

.scrolly {
    border: 1px solid #CBCBCB;
    border-radius: 1px;
    height: 114px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 6px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #E7E7E7;
}
 
::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B5B5B5; 
}

.dateset {
    display: flex;
    align-items: center;
    min-height: 36px;
}

.pleft {
    flex: 2;
    margin-right: 8px;
    max-width: 66%;
}

.pright {
    flex: 1;
}

.c {
    color: #C7C7C7;
    margin-left: 4px;
}

.cog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cog p {
    width: 10%;
    margin: 10px;
    color: #C7C7C7;
    font-style: italic;
    width: 100px;
}

.title {
    font-family: 'Benton Sans Medium';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 18px;
}

.text {
    margin-top: 18px;
}

.click {
    cursor: pointer;
}

.viewing {
    display: none;
}

.footer {
    display: flex;
    align-items: flex-end;
    margin-top: 18px;
}

.btncluster {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 12px;
}